
	h1,h2,h3,h4,h5,h6,
	.divider.dark .fa,
	.divider.white .fa,
	div.tabs ul.nav-tabs li.active a,
	h4.panel-title a,
	div.toggle > label,
	.noimg-slider h1,
	.noimg-slider p,
	.list-icon li:before,
	.styleColor {
		color:#2E363F;
	}
	#slider h2,
	#slider .image-caption .inner p.dark,
	div.price-table.popular,
	.styleBackground {
		color:#fff;
		background-color:#2E363F;
	}
	/* overlay two colors */
	.overlay.color1 {
		background:rgba(41,47,56,0.8) !important;
	}
	.overlay.color2 {
		background:rgba(25,25,25,0.8) !important;
	}

	/* second color [orange] */
	a, .styleSecondColor, 
	.list-icon.color li:before,
	.item-box-desc small,
	p.dropcap:first-letter,
	ul.pagination a,
	ul.pagination a:hover,
	ul.pagination li.active .fa,
	ul.star-rated.styleSecondColor li i,
	.tp-catpion a,
	.divider.styleColor .fa {
		color:#454443;
	}
	#slider .btn.btn-default {
		color:#8f0373 !important;
	}

	a:hover, a:active {
		color:#ed5434;
	}


	#slider h3, .styleSecondBackground,
	.list-icon.color.circle li:before,
	.featured-box-minimal i.fa,
	.label-primary,
	div.featured-box i.fa,
	.progress-bar-primary,
	ul.pagination li.active a:hover,
	ul.pagination li.active a,
	ul.isotope-filter li.active a,
	ul.isotope-filter li.active a:hover,
	i.featured-icon,
	p.dropcap.color:first-letter,
	.blog-timeline .timeline-item .item-date span,
	ul.nav-pills li.active a,
	.modal-header {
		background-color:#8f0373;
	}

	.styleSecondBackground,
	.styleSecondBackground h1,
	.styleSecondBackground h2,
	.styleSecondBackground h3,
	.styleSecondBackground h4,
	.styleSecondBackground h5,
	.styleSecondBackground h6,
	.styleSecondBackground p {
		color:#fff;
	}

	/* Top Nav  */
	header#topNav nav ul.nav-main > li:hover > a, 
	header#topNav nav ul.nav-main li.active > a, 
	header#topNav nav ul.nav-main li.active > a:hover, 
	header#topNav nav ul.nav-main li.active > a:focus, 
	header#topNav nav ul.nav-main li.active i.icon-caret-down {
		color:#fff;
		background:#bebebd !important; 
							
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu,
	header#topNav nav ul.nav-main ul.dropdown-menu {
		background-color: #2E363F; 		/* dropdown background color */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover,
	header#topNav nav ul.nav-main ul.dropdown-menu li:hover > a {
		background-color: #1b1f23; 		/* hover background color */
	}
	header#topNav nav ul.nav-main li.dropdown:hover > a:after {
		border-bottom:#2E363F 10px solid;/* arrow color */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
		color: #ffffff; 				/* mega menu subtitle */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a,
	header#topNav nav ul.nav-main ul.dropdown-menu > li > a {
		color: #afafaf; 				/* link color */
	}

	/* top Head */
	header#topHead.color {
		color:#fff;
		background-color:#8f0373;
	}
	header#topHead.color a {
		color:#fff;
	}

	header#page-title {
		color:#2d2f3c;
	}
	header#page-title h1,
	header#page-title h2 {
		color:#2d2f3c;
	}

	/* Buttons */
	.btn-default {
		border:#8f0373 2px solid;
	}
	.btn-default:hover, .btn-default:active, .btn-default:focus {
		border:#ed5434 2px solid;
	}
	.btn-primary {
		background-color:#5f5e5c !important;
	}
	.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
		border:rgba(255,255,255,0) 2px solid;
		background-color:#8f0373 !important;
	}

	
	/* Toggle */
	div.toggle.active > label {
		color:#fff;
		background-color:#8f0373;
	}

	/* Panels */

	.panel-primary .panel-heading {
		background-color:#8f0373;
		border-bottom:#8f0373 1px solid;
	}
	.panel-body {
		background-color:#fff;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	/* Featured Box */
	div.featured-box i.fa:after {
		border-color:#8f0373;
	}
	div.featured-box.nobg.border-only i.fa {
		color:#8f0373;
		border-color:#8f0373;
	}
	
	/* Featured Icons */
	i.featured-icon,
	i.featured-icon:after {
		border:#8f0373 1px solid;
	}
	i.featured-icon.empty {
		color:#8f0373 !important;
	}

	/* Popover */
	.popover-title {
		color:#fff;
		background-color:#8f0373;
	}

	/* testimonials */
	.testimonial.color1 p,
	.testimonial.color1 cite {
		color:#fff;
		background-color:#2E363F;
	}
	.testimonial.color2 p,
	.testimonial.color2 cite {
		color:#fff;
		background-color:#8f0373;
	}

	/* OWL Carousel */
	.owl-theme .owl-controls .owl-buttons div {
		color:#8f0373;
	}

	/* slider */
	#slider li .noimg-slider h1{
		color:#2E363F !important;
	}

	#slider li.styleBackground .noimg-slider,
	#slider li.styleBackground h1,
	#slider li.styleBackground h2,
	#slider li.styleBackground p {
		color:#fff !important;
	}
	
	/* Top Search , Top Login */
	#topHead .signin-dd form button,
	#topHead .signin-dd form button:hover,
	#topHead .signin-dd form button:active,
	header#topNav li.search form button,
	header#topNav li.search form button:hover,
	header#topNav li.search form button:active {
		background-color:#8f0373 !important;;
	}
	#topHead .signin-dd form button:after,
	header#topNav li.search form button:after {
		border: #8f0373 10px solid; /* same with .btn-primary */
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	
	body.boxed {

background: white url(../../images/lightgrey-bg.jpg);
background-repeat: repeat-x;

 

	}
	.topHead-black{ background:#e0e0e0 !important; color:#707070 !important;}
	body.boxed #wrapper {
		background-color:#fff;
	}
	.border-dot{
		border-radius: 100% !important;
height: 250px;
width: 250px;
border: dotted 2px #dedede;}

	boxed #wrapper,
boxed header, /* IE BUG */
	boxed footer {
		margin:auto;
		max-width:1170px;
	}
	
/* boxed slider */
body.boxed #slider li {
	position:relative;
}
body.boxed #slider .image-caption {
	left:30%;
}


	.main-body,header{margin:auto;
		max-width:1170px;}

.topHead-{ margin-top:7%;}
.pink-text a{ color:#81807e;}
.pink-text :hover{ color:#81807e; text-transform:none;}
header#topNav {

	padding:10px 0;
	position:absolute;
	top: 0; left:0; right:0;
	width:100%;
	z-index:100;
	background: #e0e0e0;
background: -moz-linear-gradient(left,  #e0e0e0 1%, #ffffff 24%, #e0e0e0 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#e0e0e0), color-stop(24%,#ffffff), color-stop(100%,#e0e0e0));
background: -webkit-linear-gradient(left,  #e0e0e0 1%,#ffffff 24%,#e0e0e0 100%);
background: -o-linear-gradient(left,  #e0e0e0 1%,#ffffff 24%,#e0e0e0 100%);
background: -ms-linear-gradient(left,  #e0e0e0 1%,#ffffff 24%,#e0e0e0 100%);
background: linear-gradient(to right,  #e0e0e0 1%,#ffffff 24%,#e0e0e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=1 );



	
	
	 

}

.top-nav-bg{background: #e0e0e0;
background: -moz-linear-gradient(top,  #e0e0e0 1%, #ffffff 49%, #e0e0e0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e0e0e0), color-stop(49%,#ffffff), color-stop(100%,#e0e0e0));
background: -webkit-linear-gradient(top,  #e0e0e0 1%,#ffffff 49%,#e0e0e0 100%);
background: -o-linear-gradient(top,  #e0e0e0 1%,#ffffff 49%,#e0e0e0 100%);
background: -ms-linear-gradient(top,  #e0e0e0 1%,#ffffff 49%,#e0e0e0 100%);
background: linear-gradient(to bottom,  #e0e0e0 1%,#ffffff 49%,#e0e0e0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0',GradientType=0 );



}

footer .footer-content {
	
		border-top:#403E44 1px dashed;
		padding:30px 0;
		display:block;
		background: #e0e0e0;
background: -moz-linear-gradient(top,  #e0e0e0 12%, #ffffff 49%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#e0e0e0), color-stop(49%,#ffffff));
background: -webkit-linear-gradient(top,  #e0e0e0 12%,#ffffff 49%);
background: -o-linear-gradient(top,  #e0e0e0 12%,#ffffff 49%);
background: -ms-linear-gradient(top,  #e0e0e0 12%,#ffffff 49%);
background: linear-gradient(to bottom,  #e0e0e0 12%,#ffffff 49%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff',GradientType=0 );



	}
	h1,
h2,
h3,
h4,
h5,
h6 {
	margin:0;
	color:#333;
	font-family:'Open Sans';
	font-weight:300;
	letter-spacing:-1px;
}

h1 {
	font-size: 3em;
	line-height: 44px;
	margin: 0 0 44px 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 300;
	line-height: 42px;
	margin: 0 0 32px 0;
}

h3 {
	color: #000;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: normal;
	line-height: 24px;
	margin: 0 0 32px 0;
}

h4 {
	color: #000;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 27px;
	margin: 12px 0 14px 0;
}

h5 {
	color: #000;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
}

h6 {
	color: #333;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 18px;
	margin: 0 0 14px 0;
}
h1 span.subtitle,
h2 span.subtitle,
h3 span.subtitle {
	display:block;
	font-size:15px;
	padding:0; margin:-10px 0 0 0;
}



/** 08. Paragraphs
 **************************************************************** **/
p {
	line-height: 22px;
	margin: 0 0 20px;
}
p.featured {
	font-size: 1.6em;
	line-height: 1.5em;
	font-weight:200;
}




/** 09. Drop Caps & Cite
 **************************************************************** **/
p.drop-caps:first-child:first-letter {
	float: left;
	font-size: 75px;
	line-height: 60px;
	padding: 4px;
	margin-right: 5px;
	margin-top: 5px;
	font-family: Georgia;
}

p.drop-caps.secundary:first-child:first-letter {
	background-color: #CCC;
	color: #FFF;
	padding: 6px;
	margin-right: 5px;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

cite:after {
	content: '\00A0 \2014';
}

cite:before {
	content: '\2014 \00A0';
}


.border-footer-{ -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.75); padding: 9px; border-radius: 5px; min-height: 271px;}
.footer-text{color: #454443;
font-size: 14px;}
.list-style{ color: #000;
border-bottom: 1px solid #1b0817;
margin-bottom: 3px;}

.hr-footer {
border: 0;
margin-bottom: 10px;
border-top: #a0a0a0 1px solid;

margin-top: 41px;

}

header#topNav nav ul.nav-pills > li > a, header#topNav nav ul.nav-pills > li > a:hover, header#topNav nav ul.nav-pills > li > a:focus, header#topNav nav ul.nav-pills > li.active > a, header#topNav nav ul.nav-pills > li.active > a:hover, header#topNav nav ul.nav-pills > li.active > a:focus {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border: 0;
background: none;
border-left: solid 1px #cececc;
border-right: solid 1px #cececc;
}

header#topHead a {
color: #999;
font-size: 13px;
padding-right: 10px;
}
header#topNav nav ul.nav-main li a {
background: none;
font-style: normal;
line-height: 20px;
color: #939291;
font-weight: 100;
position: relative;
font-size: 1.1em;
}

ol li, ul li {
color: #81807e;
}
footer .footer-content h3 {
			color:#000 !important ;
			font-weight:200;
			font-size:16px;
		}
		
		footer  {
	color:#87919F;
	font-size:13px;
	overflow:hidden;
}
footer a, footer a:hover {
	color:#000;
}

footer ul,
footer ul li {
	list-style:none;
	margin:0; padding:0;
}
footer .footer-bar {
	background:#292f38;
	display:block;
	text-transform:uppercase;
	position:relative;
}