<footer> 
  
  <!-- footer content -->
  <div class="footer-content">
    <div class="container">
      <div class="row"> 
        
        <!-- FOOTER CONTACT INFO -->
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>About Us</h3>
            <p class="footer-text"> Sed sed eroe nulla.In
              Fermentum turpis quis sem 
              mollis tempor. Nulla mollis,
              lorem vel commodo dignissim,
              sapien purus consectetur
              sapien, sit amet pellentesque
              enim lectus </p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>Contact</h3>
            <p class="footer-text"> 46/1 westmilbagh, Dhaka, Bangladesh</p>
            <p class="footer-text"> +880-1718-542596h</p>
            <p class="footer-text"> info@yourdomain.com</p>
            <p class="footer-text"> www.yoursite.com</p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>We are Open</h3>
            <p class="footer-text"> Thuesday and Thursday<br>
              9:00am - 7:00pm</p>
            <p class="footer-text"> wednesday and Friday<br>
              9:00am - 7:00pm</p>
            <p class="footer-text"> Saturday<br>
              9:00am - 7:00pm</p>
          </div>
        </div>
        <div class="column col-md-3 ">
          <div class="border-footer-">
            <h3>Footer Menu</h3>
            <p class="footer-text">
            <ul>
              <li class="list-style"><a href="#">Our Services</a></li>
              <li class="list-style"><a href="#">Staff</a></li>
              <li class="list-style"><a href="#"> profile</a></li>
              <li class="list-style"><a href="#"> Photo Gallery</a></li>
              <li class="list-style"><a href="#">Our Blog</a></li>
              <li class="list-style"><a href="#">Contact Us</a></li>
            </ul>
            </p>
          </div>
        </div>
        <div class="column col-md-12 ">
          <div class="hr-footer"></div>
          <div class="" style="margin-top:3%;">
            <p class="footer-text text-center"> <a href="#">Our Services</a> | <a href="#">Staff</a> | <a href="#"> profile</a> | <a href="#"> Photo Gallery</a> | <a href="#">Our Blog</a> | <a href="#">Contact Us</a>
              </ul>
            </p>
          </div>
        </div>
        
        <!-- /FOOTER LATEST POSTS --> 
        
      </div>
    </div>
  </div>
  <!-- footer content --> 
  
</footer>