  <!-- TOP NAV -->
  <header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
    <div class="container"> 
      
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse"> <i class="fa fa-bars"></i> </button>
      
      <!-- Logo text or image --> 
      <a class="logo" href="index.html"> <img src="/assets/logo.png"  /> </a> 
      
      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse collapse pull-right top-nav-bg">
        <nav class="nav-main mega-menu">
          <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
            <li class="mega-menu-item mega-menu-two-columns active"> <a  href="index.html"> Home </a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="about.html"> About Us</a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="services.html"> Services </a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a href="gallery.html"> Gallery Portfolio </a> </li>
            <li class="mega-menu-item mega-menu-two-columns"> <a  href="contact.html"> Contact Us </a> </li>
            
            <!-- GLOBAL SEARCH -->
            <li class="search"> 
              <!-- search form -->
              <form method="get" action="#" class="input-group pull-right">
                <input type="text" class="form-control" name="k" id="k" value="" placeholder="Search">
                <span class="input-group-btn">
                <button class="btn btn-primary notransition"><i class="fa fa-search"></i></button>
                </span>
              </form>
              <!-- /search form --> 
            </li>
            <!-- /GLOBAL SEARCH --> 
            
            <!-- QUICK SHOP CART -->
            <li class="quick-cart"> <span class="badge pull-right">3</span>
              <div class="quick-cart-content">
                <p><i class="fa fa-warning"></i> You have 3 products on your cart</p>
                <a class="item" href="shop-product-full-width.html"><!-- item 1 --> 
                <img class="pull-left" src="/assets/demo/shop/thumb/1.jpg" width="40" alt="quick cart" />
                <div class="inline-block"> <span class="title">Man shirt XL</span> <span class="price">2 &times; $44.00</span> </div>
                </a><!-- /item 1 --> 
                
                <a class="item" href="shop-product-full-width.html"><!-- item 2 --> 
                <img class="pull-left" src="/assets/demo/shop/thumb/2.jpg" width="40" alt="quick cart" />
                <div class="inline-block"> <span class="title">Great Black Shoes For Man and Only Man...</span> <span class="price">2 &times; $44.00</span> </div>
                </a><!-- /item 2 --> 
                
                <a class="item" href="shop-product-full-width.html"><!-- item 3 --> 
                <img class="pull-left" src="/assets/demo/shop/thumb/4.jpg" width="40" alt="quick cart" />
                <div class="inline-block"> <span class="title">Pink Lady Perfect Shoes</span> <span class="price">1 &times; $67.32</span> </div>
                </a><!-- /item 3 --> 
                
                <!-- QUICK CART BUTTONS -->
                <div class="row cart-footer">
                  <div class="col-md-6 nopadding-right"> <a href="shop-cart.html" class="btn btn-primary btn-xs fullwidth">VIEW CART</a> </div>
                  <div class="col-md-6 nopadding-left"> <a href="shop-cc-pay.html" class="btn btn-info btn-xs fullwidth">CHECKOUT</a> </div>
                </div>
                <!-- /QUICK CART BUTTONS --> 
                
              </div>
            </li>
            <!-- /QUICK SHOP CART -->
            
          </ul>
        </nav>
      </div>
      <!-- /Top Nav --> 
      
    </div>
  </header>