 <header id="topHead" class="topHead-black">
    <div class="container"> 
      
      <!-- PHONE/EMAIL --> 
      <span class="quick-contact pull-left"> <i class="fa fa-phone"></i> 1800-555-1234 &bull; <a class="hidden-xs" href="mailto:mail@yourdomain.com">mail@domain.com</a> </span> 
      
      <!-- SIGN IN -->
      <div class="pull-right nav signin-dd"> <a id="quick_sign_in" href="page-signin.html" data-toggle="dropdown"><i class="fa fa-users"></i><span class="hidden-xs"> Sign In</span></a>
        <div class="dropdown-menu" role="menu" aria-labelledby="quick_sign_in">
          <h4>Sign In</h4>
          <form action="http://theme.stepofweb.com/Atropos/v1.6/HTML/page-signin.html" method="post" role="form">
            <div class="form-group"><!-- email -->
              <input required type="email" class="form-control" placeholder="Email">
            </div>
            <div class="input-group"> 
              
              <!-- password -->
              <input required type="password" class="form-control" placeholder="Password">
              
              <!-- submit button --> 
              <span class="input-group-btn">
              <button class="btn btn-primary">Sign In</button>
              </span> </div>
            <div class="checkbox"><!-- remmember -->
              <label>
                <input type="checkbox">
                Remember me &bull; <a href="page-signin.html">Forgot password?</a> </label>
            </div>
          </form>
          <hr />
          <p class="bottom-create-account"> <a href="page-signup.html">Sign up</a> </p>
        </div>
      </div>
      <!-- /SIGN IN --> 
      
      <!-- CART MOBILE BUTTON --> 
      <a class="pull-right" id="btn-mobile-quick-cart" href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a> 
      <!-- CART MOBILE BUTTON --> 
      
      <!-- LINKS -->
      <div class="pull-right nav hidden-xs"> <a href="page-about-us.html"><i class="fa fa-angle-right"></i> About</a> <a href="contact-us.html"><i class="fa fa-angle-right"></i> Contact</a> </div>
      <!-- /LINKS --> 
      
    </div>
  </header>